# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env.local
.env.development
.env.production

# Cache and compiled
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Tests and Coverage
.pytest_cache/
.coverage
htmlcov/
*.log
